# Project Phase 1 - Exploratory Data Analysis 

## 1. Environment Setup ##

- Necessary libraries in order to conduct EDA have been installed and imported.

- Here are the main functions of the libraries which has been used:

***Pandas:*** Primary data manipulation tool.

***Geopandas:*** Understanding map coordinates and visualization.

***Matplotlib:*** Foundational plotting.

***Seaborn:*** Creating more convincing plots and maps.

***Scipy:*** Main statistics library.

***Numpy:*** Array manipulation and fast math operations.

In [1]:
import pandas as pd  
import numpy as np   
import geopandas as gpd  
import matplotlib.pyplot as plt  
import seaborn as sns  
import scipy.stats as stats  

print("All libraries imported successfully.")

All libraries imported successfully.

## 2. Initial Cleaning and Selection ##

**For each dataset the following steps are executed:**

**1.** Reading the specific CSV file.

**2.** Selecting only necessary columns.

**3.** Filtering junk rows.

**4.** Handling missing values.

**4.** Renaming columns to a standart format. 
- Sorting state names alphabetically if necessary in order to proceed easier.

**5.** Aggregation and statistical-mathematical implementations for necessary rows and columns.

- Finally, all clean data has been merged into one DataFrame. Information has been stored with respect to state.


**Necessary Data:**

- EV Registrations, Mean of Median AQI Indexe, GDP, Population Density, Number of Charging Stations, Number of People with an Associate Degree, Estimated Median Household Income for each state.

### EV Registrations(Primary Variable): ###

In [2]:
#Reading the data and seeing general information.
EV_Data = pd.read_csv('EVRegistrations.csv')
EV_Data.info()
print(EV_Data.head())
print(EV_Data.tail())
#This datases has only the needed cloumn and does not have any missing values. But it has one junk row which is the 'Total'.
#States are already alphabetically sorted.

#'Total' dropped. District of Colombia dropped.
EV_Data= EV_Data[EV_Data['State'] != 'Total']
EV_Data= EV_Data[EV_Data['State'] != 'District of Columbia']
#Index reset.
EV_Data = EV_Data.reset_index(drop=True)

#Top five states with the least EV registrations.
print(EV_Data.sort_values(by=['Registration Count']).head(5))
#Top five states with the most EV registraions.
print(print(EV_Data.sort_values(by=['Registration Count'], ascending=False).head(5)))

#Final Data
EV_Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               52 non-null     object
 1   Registration Count  52 non-null     int64
dtypes: int64(1), object(1)
memory usage: 964.0+ bytes
        State  Registration Count
0     Alabama               13047
1      Alaska                2697
2     Arizona               89798
3    Arkansas                7108
4  California             1256646
            State  Registration Count
47     Washington              152101
48  West Virginia                2758
49      Wisconsin               24943
50        Wyoming                1139
51          Total             3555445
            State  Registration Count
33   North Dakota                 959
49        Wyoming                1139
40   South Dakota                1675
1          Alaska                2697
47  West Virginia                2758
         State  Registration Count
4   California             1256646
8      Florida              254878
42       Texas              230125
46  Washington              152101
29  New Jersey              134753
None

             State  Registration Count
0          Alabama               13047
1           Alaska                2697
2          Arizona               89798
3         Arkansas                7108
4       California             1256646
5         Colorado               90083
6      Connecticut               31557
7         Delaware                8435
8          Florida              254878
9          Georgia               92368
10          Hawaii               25565
11           Idaho                8501
12        Illinois               99573
13         Indiana               26101
14            Iowa                9031
15          Kansas               11271
16        Kentucky               11617
17       Louisiana                8150
18           Maine                7377
19        Maryland               72139
20   Massachusetts               73768
21        Michigan               50284
22       Minnesota               37050
23     Mississippi                3590
24        Missouri               26861
25         Montana                4608
26        Nebraska                6920
27          Nevada               47361
28   New Hampshire                9861
29      New Jersey              134753
30      New Mexico               10276
31        New York              131250
32  North Carolina               70164
33    North Dakota                 959
34            Ohio               50393
35        Oklahoma               22843
36          Oregon               64361
37    Pennsylvania               70154
38    Rhode Island                6396
39  South Carolina               20873
40    South Dakota                1675
41       Tennessee               33221
42           Texas              230125
43            Utah               39998
44         Vermont                7816
45        Virginia               84936
46      Washington              152101
47   West Virginia                2758
48       Wisconsin               24943
49         Wyoming                1139

### Charging Stations(Enrichment Variable): ###

- In this data each row stands for one charging station. So, each occuring state has been counted and merged into one DataFrame with the counting information(charging station number) and state information.

In [3]:
#Reading the data and seeing general information.
data1 = pd.read_csv('Charging Stations.csv')
print(data1.info())
print(data1.head())
print(data1.tail())
"""Since the only information we need from this data is the number of rows with respect to state name, we do not have to drop any rows
or columns. There are no missing values in 'State' column."""
#Since the state names are in their abbreviations, standardizing of names.
#Counting each specific state occurence.
#Creating a clean DataFrame with the counting and state information.
standard_names = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'}
CS_Count = data1.groupby('State').size().reset_index(name='CS Count')
CS_Count['State'] = CS_Count['State'].replace(standard_names)
#PR dropped, District of Colombia Dropped
CS_Count= CS_Count[CS_Count['State'] != 'PR']
CS_Count= CS_Count[CS_Count['State'] != 'District of Columbia']
#Alphabetical Sorting.
CS_Count = CS_Count.sort_values('State')

#Index Reset
CS_Count = CS_Count.reset_index(drop = True)

#Top five states with the least charging stations.
print(CS_Count.sort_values(by=['CS Count']).head(5))
#Top five states with the most charging registraions.
print(print(CS_Count.sort_values(by=['CS Count'], ascending=False).head(5)))

#Final Data
CS_Count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80238 entries, 0 to 80237
Data columns (total 75 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           80238 non-null  object
 1   Station Name                             80237 non-null  object
 2   Street Address                           80205 non-null  object
 3   Intersection Directions                  24003 non-null  object
 4   City                                     80234 non-null  object
 5   State                                    80238 non-null  object
 6   ZIP                                      80238 non-null  object
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            76173 non-null  object
 9   Status Code                              80238 non-null  object
 10  Expected Date                            5882 non-null   object
 11  Groups With Access Code                  80238 non-null  object
 12  Access Days Time                         72228 non-null  object
 13  Cards Accepted                           7912 non-null   object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       699 non-null    float64
 18  EV Level2 EVSE Num                       68615 non-null  float64
 19  EV DC Fast Count                         12716 non-null  float64
 20  EV Other Info                            16 non-null     object
 21  EV Network                               80219 non-null  object
 22  EV Network Web                           68297 non-null  object
 23  Geocode Status                           80234 non-null  object
 24  Latitude                                 80238 non-null  float64
 25  Longitude                                80238 non-null  float64
 26  Date Last Confirmed                      79942 non-null  object
 27  ID                                       80238 non-null  int64
 28  Updated At                               80238 non-null  object
 29  Owner Type Code                          21138 non-null  object
 30  Federal Agency ID                        1026 non-null   float64
 31  Federal Agency Name                      1026 non-null   object
 32  Open Date                                79783 non-null  object
 33  Hydrogen Status Link                     0 non-null      float64
 34  NG Vehicle Class                         0 non-null      float64
 35  LPG Primary                              0 non-null      float64
 36  E85 Blender Pump                         0 non-null      float64
 37  EV Connector Types                       80198 non-null  object
 38  Country                                  80238 non-null  object
 39  Intersection Directions (French)         0 non-null      float64
 40  Access Days Time (French)                0 non-null      float64
 41  BD Blends (French)                       0 non-null      float64
 42  Groups With Access Code (French)         80238 non-null  object
 43  Hydrogen Is Retail                       0 non-null      float64
 44  Access Code                              80238 non-null  object
 45  Access Detail Code                       4465 non-null   object
 46  Federal Agency Code                      1026 non-null   object
 47  Facility Type                            19635 non-null  object
 48  CNG Dispenser Num                        0 non-null      float64
 49  CNG On-Site Renewable Source             0 non-null      float64
 50  CNG Total Compression Capacity           0 non-null      float64
 51  CNG Storage Capacity                     0 non-null      float64
 52  LNG On-Site Renewable Source             0 non-null      float64
 53  E85 Other Ethanol Blends                 0 non-null      float64
 54  EV Pricing                               15545 non-null  object
 55  EV Pricing (French)                      0 non-null      float64
 56  LPG Nozzle Types                         0 non-null      float64
 57  Hydrogen Pressures                       0 non-null      float64
 58  Hydrogen Standards                       0 non-null      float64
 59  CNG Fill Type Code                       0 non-null      float64
 60  CNG PSI                                  0 non-null      float64
 61  CNG Vehicle Class                        0 non-null      float64
 62  LNG Vehicle Class                        0 non-null      float64
 63  EV On-Site Renewable Source              408 non-null    object
 64  Restricted Access                        12498 non-null  object
 65  RD Blends                                0 non-null      float64
 66  RD Blends (French)                       0 non-null      float64
 67  RD Blended with Biodiesel                0 non-null      float64
 68  RD Maximum Biodiesel Level               0 non-null      float64
 69  NPS Unit Name                            325 non-null    object
 70  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 72  Maximum Vehicle Class                    12943 non-null  object
 73  EV Workplace Charging                    80213 non-null  object
 74  Funding Sources                          55 non-null     object
dtypes: float64(38), int64(1), object(36)
memory usage: 45.9+ MB
None
  Fuel Type Code                       Station Name      Street Address  \
0           ELEC           LADWP - Truesdale Center  11797 Truesdale St
1           ELEC      Los Angeles Convention Center  1201 S Figueroa St
2           ELEC      LADWP - John Ferraro Building       111 N Hope St
3           ELEC         LADWP - Haynes Power Plant       6801 E 2nd St
4           ELEC  LADWP - Harbor Generating Station    161 N Island Ave

    Intersection Directions         City State    ZIP  Plus4 Station Phone  \
0                       NaN   Sun Valley    CA  91352    NaN           NaN
1  West hall and South hall  Los Angeles    CA  90015    NaN  213-741-1151
2               Across Hope  Los Angeles    CA  90012    NaN           NaN
3                       NaN   Long Beach    CA  90803    NaN           NaN
4                   At B St   Wilmington    CA  90744    NaN           NaN

  Status Code  ... RD Blends RD Blends (French) RD Blended with Biodiesel  \
0           E  ...       NaN                NaN                       NaN
1           E  ...       NaN                NaN                       NaN
2           E  ...       NaN                NaN                       NaN
3           E  ...       NaN                NaN                       NaN
4           E  ...       NaN                NaN                       NaN

  RD Maximum Biodiesel Level  NPS Unit Name  \
0                        NaN            NaN
1                        NaN            NaN
2                        NaN            NaN
3                        NaN            NaN
4                        NaN            NaN

   CNG Station Sells Renewable Natural Gas  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN

   LNG Station Sells Renewable Natural Gas  Maximum Vehicle Class  \
0                                      NaN                    NaN
1                                      NaN                     LD
2                                      NaN                     LD
3                                      NaN                    NaN
4                                      NaN                    NaN

   EV Workplace Charging  Funding Sources
0                   True              NaN
1                  False              NaN
2                   True              NaN
3                   True              NaN
4                   True              NaN

[5 rows x 75 columns]
      Fuel Type Code                   Station Name  \
80233           ELEC             7810 State Road 60
80234           ELEC  McDonalds #12407, Maple Grove
80235           ELEC        Pilot Travel Center 494
80236           ELEC                  Flying J 1372
80237           ELEC                 S. Bennett St.

                   Street Address Intersection Directions            City  \
80233                 46912 WI-60                     NaN         Wauzeka
80234              13595 83rd Way                     NaN     Maple Grove
80235        1128 Duanesburg Road                     NaN       Rotterdam
80236  10835 South Double R Drive                     NaN           Yucca
80237            153 S Bennett St                     NaN  Southern Pines

      State    ZIP  Plus4   Station Phone Status Code  ... RD Blends  \
80233    WI  53826    NaN  1-800-636-0986           E  ...       NaN
80234    MN  55369    NaN    877-455-3833           E  ...       NaN
80235    NY  12230    NaN    877-455-3833           E  ...       NaN
80236    AZ  86438    NaN    877-455-3833           E  ...       NaN
80237    NC  28387    NaN  1-800-636-0986           E  ...       NaN

      RD Blends (French) RD Blended with Biodiesel RD Maximum Biodiesel Level  \
80233                NaN                       NaN                        NaN
80234                NaN                       NaN                        NaN
80235                NaN                       NaN                        NaN
80236                NaN                       NaN                        NaN
80237                NaN                       NaN                        NaN

       NPS Unit Name  CNG Station Sells Renewable Natural Gas  \
80233            NaN                                      NaN
80234            NaN                                      NaN
80235            NaN                                      NaN
80236            NaN                                      NaN
80237            NaN                                      NaN

       LNG Station Sells Renewable Natural Gas  Maximum Vehicle Class  \
80233                                      NaN                    NaN
80234                                      NaN                    NaN
80235                                      NaN                    NaN
80236                                      NaN                    NaN
80237                                      NaN                    NaN

       EV Workplace Charging  Funding Sources
80233                  False              NaN
80234                  False              NaN
80235                  False              NaN
80236                  False              NaN
80237                  False              NaN

[5 rows x 75 columns]
           State  CS Count
1         Alaska        74
33  North Dakota       106
49       Wyoming       122
40  South Dakota       123
25       Montana       170
            State  CS Count
4      California     19389
31       New York      5242
42          Texas      4257
8         Florida      4199
20  Massachusetts      3842
None

C:\Users\ÇAĞRI\AppData\Local\Temp\ipykernel_22928\259809045.py:2: DtypeWarning: Columns (6,20,31,46,69,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv('Charging Stations.csv')

             State  CS Count
0          Alabama       593
1           Alaska        74
2          Arizona      1527
3         Arkansas       391
4       California     19389
5         Colorado      2619
6      Connecticut      1419
7         Delaware       273
8          Florida      4199
9          Georgia      2417
10          Hawaii       424
11           Idaho       260
12        Illinois      1648
13         Indiana       733
14            Iowa       482
15          Kansas       631
16        Kentucky       378
17       Louisiana       348
18           Maine       557
19        Maryland      1981
20   Massachusetts      3842
21        Michigan      1787
22       Minnesota       997
23     Mississippi       215
24        Missouri      1456
25         Montana       170
26        Nebraska       300
27          Nevada       719
28   New Hampshire       322
29      New Jersey      1721
30      New Mexico       372
31        New York      5242
32  North Carolina      1976
33    North Dakota       106
34            Ohio      1937
35        Oklahoma       423
36          Oregon      1644
37    Pennsylvania      2161
38    Rhode Island       397
39  South Carolina       722
40    South Dakota       123
41       Tennessee      1084
42           Texas      4257
43            Utah      1040
44         Vermont       487
45        Virginia      2016
46      Washington      2838
47   West Virginia       184
48       Wisconsin       791
49         Wyoming       122

### Population Density(Enrichment Variable): ###

- In this data "Density (/mile2)" information is needed.

In [4]:
#Reading the data and seeing general information.
Pop_Density = pd.read_csv('Population.csv')
print(Pop_Density.info())
print(Pop_Density.head())
print(Pop_Density.tail())
#Data does not have any missing values for density information.

#Renaming 'Density (/mile2)' and 'US Staet' column.
Pop_Density.rename(columns = {'Density (/mile2)':'Density','US State': 'State'},inplace = True)
#Extracting only state and density information.
Pop_Density = Pop_Density[['State','Density']]

#Alphabetical sorting.
Pop_Density = Pop_Density.sort_values('State')
#Index resetting.
Pop_Density = Pop_Density.reset_index(drop=True)

#Top five states with the least populatiion density.
print(Pop_Density.sort_values(by=['Density']).head(5))
#Top five states with the highest cpopulation density.
print(Pop_Density.sort_values(by=['Density'], ascending=False).head(5))

#Final Data
Pop_Density

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              50 non-null     int64
 1   US State          50 non-null     object
 2   Population 2024   50 non-null     int64
 3   Population 2023   50 non-null     int64
 4   Growth Rate       50 non-null     float64
 5   % of US           50 non-null     float64
 6   Density (/mile2)  50 non-null     int64
dtypes: float64(2), int64(4), object(1)
memory usage: 2.9+ KB
None
   Rank      US State  Population 2024  Population 2023  Growth Rate  % of US  \
0     1    California         38889770         38965193      -0.0019   0.1158
1     2         Texas         30976754         30503301       0.0155   0.0922
2     3       Florida         22975931         22610726       0.0162   0.0684
3     4      New York         19469232         19571216      -0.0052   0.0580
4     5  Pennsylvania         12951275         12961683      -0.0008   0.0386

   Density (/mile2)
0               250
1               119
2               428
3               413
4               289
    Rank      US State  Population 2024  Population 2023  Growth Rate  \
45    46  South Dakota           928767           919318       0.0103
46    47  North Dakota           788940           783926       0.0064
47    48        Alaska           733536           733406       0.0002
48    49       Vermont           647818           647464       0.0006
49    50       Wyoming           586485           584057       0.0042

    % of US  Density (/mile2)
45   0.0028                12
46   0.0023                11
47   0.0022                 1
48   0.0019                70
49   0.0017                 6
           State  Density
1         Alaska        1
49       Wyoming        6
25       Montana        8
33  North Dakota       11
40  South Dakota       12
            State  Density
29     New Jersey     1267
38   Rhode Island     1062
20  Massachusetts      900
6     Connecticut      749
19       Maryland      638

             State  Density
0          Alabama      102
1           Alaska        1
2          Arizona       66
3         Arkansas       59
4       California      250
5         Colorado       57
6      Connecticut      749
7         Delaware      536
8          Florida      428
9          Georgia      194
10          Hawaii      223
11           Idaho       24
12        Illinois      225
13         Indiana      192
14            Iowa       58
15          Kansas       36
16        Kentucky      115
17       Louisiana      106
18           Maine       45
19        Maryland      638
20   Massachusetts      900
21        Michigan      178
22       Minnesota       72
23     Mississippi       63
24        Missouri       90
25         Montana        8
26        Nebraska       26
27          Nevada       29
28   New Hampshire      157
29      New Jersey     1267
30      New Mexico       17
31        New York      413
32  North Carolina      226
33    North Dakota       11
34            Ohio      289
35        Oklahoma       60
36          Oregon       44
37    Pennsylvania      289
38    Rhode Island     1062
39  South Carolina      182
40    South Dakota       12
41       Tennessee      175
42           Texas      119
43            Utah       42
44         Vermont       70
45        Virginia      222
46      Washington      118
47   West Virginia       73
48       Wisconsin      110
49         Wyoming        6

### Educational Attainment(Enrichment Variable): ###

- In this data 'S1501_C01_001E' column is needed which holds the information for number of people with an associate degree.

In [5]:
#Reading data file and seeing general information.
EA_Data = pd.read_csv('Educational Attainment.csv')
print(EA_Data.info())
print(EA_Data.head())
print(EA_Data.tail())
#Data does not have any missing values for 'S1501_C01_001E' and 'NAME'.

#Extracting necessary columns and renaming them.
EA_Data = EA_Data[['S1501_C01_001E','NAME']]
EA_Data = EA_Data.rename(columns = {'S1501_C01_001E':'EA Info','NAME':'State'})
#Change the order of columns.
EA_Data = EA_Data.iloc[:, [1,0]]
#Delete first unnecessary row.
EA_Data = EA_Data[EA_Data['State']!='Geographic Area Name']
#Drop special states.
EA_Data = EA_Data[EA_Data['State']!='Puerto Rico']
EA_Data = EA_Data[EA_Data['State']!='District of Columbia']
#Reset indexes.
EA_Data = EA_Data.reset_index(drop=True)
#States are alphabetically sorted.

#Data Cleaning in order to have the EA_Info correctly and in numeric format.
EA_Data['EA Info'] = EA_Data['EA Info'].astype(str) \
    .str.replace('%','', regex=False) \
    .str.replace(',','', regex=False) \
    .str.strip()
EA_Data['EA Info'] = pd.to_numeric(EA_Data['EA Info'], errors='coerce')

#Top five states with the least educational attainment.
print(EA_Data.sort_values(by=['EA Info']).head(5))
#Top five states with the highest educational attainment.
print(EA_Data.sort_values(by=['EA Info'], ascending=False).head(5))

#Final Data
EA_Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Columns: 771 entries, GEO_ID to Unnamed: 770
dtypes: float64(1), object(770)
memory usage: 319.4+ KB
None
        GEO_ID                  NAME  \
0    Geography  Geographic Area Name
1  0400000US01               Alabama
2  0400000US02                Alaska
3  0400000US04               Arizona
4  0400000US05              Arkansas

                                      S1501_C01_001E  \
0  Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...
1                                             485435
2                                              68011
3                                             726880
4                                             291543

                                      S1501_C01_001M  \
0  Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...
1                                               6891
2                                               2504
3                                               3555
4                                               5333

                                      S1501_C01_002E  \
0  Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...
1                                              56245
2                                               9700
3                                             101968
4                                              40252

                                      S1501_C01_002M  \
0  Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...
1                                               4338
2                                               1725
3                                               6325
4                                               3526

                                      S1501_C01_003E  \
0  Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...
1                                             180682
2                                              33576
3                                             282462
4                                             112736

                                      S1501_C01_003M  \
0  Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...
1                                               9199
2                                               2984
3                                               9492
4                                               5132

                                      S1501_C01_004E  \
0  Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...
1                                             201084
2                                              18658
3                                             259415
4                                             104060

                                      S1501_C01_004M  ...  \
0  Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...  ...
1                                               8807  ...
2                                               2222  ...
3                                               9096  ...
4                                               5180  ...

                                      S1501_C06_060M  \
0  Margin of Error!!Percent Female!!MEDIAN EARNIN...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1501_C06_061E  \
0  Estimate!!Percent Female!!MEDIAN EARNINGS IN T...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1501_C06_061M  \
0  Margin of Error!!Percent Female!!MEDIAN EARNIN...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1501_C06_062E  \
0  Estimate!!Percent Female!!MEDIAN EARNINGS IN T...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1501_C06_062M  \
0  Margin of Error!!Percent Female!!MEDIAN EARNIN...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1501_C06_063E  \
0  Estimate!!Percent Female!!MEDIAN EARNINGS IN T...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1501_C06_063M  \
0  Margin of Error!!Percent Female!!MEDIAN EARNIN...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1501_C06_064E  \
0  Estimate!!Percent Female!!MEDIAN EARNINGS IN T...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1501_C06_064M Unnamed: 770
0  Margin of Error!!Percent Female!!MEDIAN EARNIN...          NaN
1                                                (X)          NaN
2                                                (X)          NaN
3                                                (X)          NaN
4                                                (X)          NaN

[5 rows x 771 columns]
         GEO_ID           NAME S1501_C01_001E S1501_C01_001M S1501_C01_002E  \
48  0400000US53     Washington         674671           4581          85856
49  0400000US54  West Virginia         153712           3025          20973
50  0400000US55      Wisconsin         555061           3671          49169
51  0400000US56        Wyoming          53288           2456           6304
52  0400000US72    Puerto Rico         294504           3822          20339

   S1501_C01_002M S1501_C01_003E S1501_C01_003M S1501_C01_004E S1501_C01_004M  \
48           5536         261655           8417         231755           8315
49           2393          64795           4255          53368           3667
50           3920         218083           7274         206144           6896
51           1466          19060           2092          23085           2268
52           2928          88653           6132         154501           6797

    ... S1501_C06_060M S1501_C06_061E S1501_C06_061M S1501_C06_062E  \
48  ...            (X)            (X)            (X)            (X)
49  ...            (X)            (X)            (X)            (X)
50  ...            (X)            (X)            (X)            (X)
51  ...            (X)            (X)            (X)            (X)
52  ...            (X)            (X)            (X)            (X)

   S1501_C06_062M S1501_C06_063E S1501_C06_063M S1501_C06_064E S1501_C06_064M  \
48            (X)            (X)            (X)            (X)            (X)
49            (X)            (X)            (X)            (X)            (X)
50            (X)            (X)            (X)            (X)            (X)
51            (X)            (X)            (X)            (X)            (X)
52            (X)            (X)            (X)            (X)            (X)

   Unnamed: 770
48          NaN
49          NaN
50          NaN
51          NaN
52          NaN

[5 rows x 771 columns]
           State  EA Info
49       Wyoming    53288
44       Vermont    62118
1         Alaska    68011
40  South Dakota    83838
33  North Dakota    87325
           State  EA Info
4     California  3644130
42         Texas  3056382
8        Florida  1906324
31      New York  1776645
37  Pennsylvania  1188407

             State  EA Info
0          Alabama   485435
1           Alaska    68011
2          Arizona   726880
3         Arkansas   291543
4       California  3644130
5         Colorado   545685
6      Connecticut   341838
7         Delaware    91460
8          Florida  1906324
9          Georgia  1060982
10          Hawaii   115613
11           Idaho   198965
12        Illinois  1168050
13         Indiana   659956
14            Iowa   321744
15          Kansas   297448
16        Kentucky   421989
17       Louisiana   418749
18           Maine   110476
19        Maryland   530791
20   Massachusetts   707064
21        Michigan   934316
22       Minnesota   519877
23     Mississippi   287446
24        Missouri   575388
25         Montana   103469
26        Nebraska   199010
27          Nevada   262085
28   New Hampshire   122828
29      New Jersey   800206
30      New Mexico   200903
31        New York  1776645
32  North Carolina  1049988
33    North Dakota    87325
34            Ohio  1061428
35        Oklahoma   404802
36          Oregon   362169
37    Pennsylvania  1188407
38    Rhode Island   111702
39  South Carolina   503116
40    South Dakota    83838
41       Tennessee   654793
42           Texas  3056382
43            Utah   417656
44         Vermont    62118
45        Virginia   824337
46      Washington   674671
47   West Virginia   153712
48       Wisconsin   555061
49         Wyoming    53288

### AQI Indexes(Enrichment Variable): ###

- In this data information about "Median AQI" for different cities of the state is present. In order to have an average for the analysis, the mean of "Median AQI"s has been computed for the cities of a certain state.

In [6]:
#Reading data file and seeing general information.
AQI_Data = pd.read_csv("AQI Indexes.csv")
print(AQI_Data.info())
print(AQI_Data.head())
print(AQI_Data.tail())
#No missing values for necessary columns.

# Calculate average Median AQI by state.
#Change the name of "Median AQI"
#Dropped unnecessary columns.
AQI_Data = (
    AQI_Data.groupby("State", as_index=False)["Median AQI"].mean().rename(columns={"Median AQI": "AQI"}))

#Drop special states.
AQI_Data = AQI_Data[AQI_Data['State']!='Puerto Rico']
AQI_Data = AQI_Data[AQI_Data['State']!='District Of Columbia']
AQI_Data = AQI_Data[AQI_Data['State']!='Country Of Mexico']
AQI_Data = AQI_Data[AQI_Data['State']!='Virgin Islands']

#Reset indexes
AQI_Data = AQI_Data.reset_index(drop = True)
#The states are already alphabetically sorted.

#Top five states with the least AQI score.
print(AQI_Data.sort_values(by=['AQI']).head(5))
#Top five states with the highest AQI score.
print(AQI_Data.sort_values(by=['AQI'], ascending=False).head(5))

#Final Data
AQI_Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                995 non-null    object
 1   County                               995 non-null    object
 2   Year                                 995 non-null    int64
 3   Days with AQI                        995 non-null    int64
 4   Good Days                            995 non-null    int64
 5   Moderate Days                        995 non-null    int64
 6   Unhealthy for Sensitive Groups Days  995 non-null    int64
 7   Unhealthy Days                       995 non-null    int64
 8   Very Unhealthy Days                  995 non-null    int64
 9   Hazardous Days                       995 non-null    int64
 10  Max AQI                              995 non-null    int64
 11  90th Percentile AQI                  995 non-null    int64
 12  Median AQI                           995 non-null    int64
 13  Days CO                              995 non-null    int64
 14  Days NO2                             995 non-null    int64
 15  Days Ozone                           995 non-null    int64
 16  Days PM2.5                           995 non-null    int64
 17  Days PM10                            995 non-null    int64
dtypes: int64(16), object(2)
memory usage: 140.1+ KB
None
     State   County  Year  Days with AQI  Good Days  Moderate Days  \
0  Alabama  Baldwin  2024            355        278             77
1  Alabama     Clay  2024            354        307             47
2  Alabama   DeKalb  2024            366        277             89
3  Alabama   Elmore  2024            234        231              3
4  Alabama   Etowah  2024            362        212            150

   Unhealthy for Sensitive Groups Days  Unhealthy Days  Very Unhealthy Days  \
0                                    0               0                    0
1                                    0               0                    0
2                                    0               0                    0
3                                    0               0                    0
4                                    0               0                    0

   Hazardous Days  Max AQI  90th Percentile AQI  Median AQI  Days CO  \
0               0       90                   58          40        0
1               0       75                   52          29        0
2               0       87                   57          43        0
3               0       58                   46          37        0
4               0       93                   60          47        0

   Days NO2  Days Ozone  Days PM2.5  Days PM10
0         0         127         228          0
1         0           0         354          0
2         0         242         124          0
3         0         234           0          0
4         0          84         278          0
       State      County  Year  Days with AQI  Good Days  Moderate Days  \
990  Wyoming  Sweetwater  2024            366        247            109
991  Wyoming       Teton  2024            366        276             88
992  Wyoming       Uinta  2024            297        297              0
993  Wyoming    Washakie  2024            329        309             20
994  Wyoming      Weston  2024            365        320             40

     Unhealthy for Sensitive Groups Days  Unhealthy Days  Very Unhealthy Days  \
990                                   10               0                    0
991                                    2               0                    0
992                                    0               0                    0
993                                    0               0                    0
994                                    5               0                    0

     Hazardous Days  Max AQI  90th Percentile AQI  Median AQI  Days CO  \
990               0      137                   75          45        0
991               0      138                   67          44        0
992               0       44                   17           7        0
993               0       83                   43           8        0
994               0      136                   58          39        0

     Days NO2  Days Ozone  Days PM2.5  Days PM10
990         3         308           9         46
991         0         335          28          3
992         0           0           0        297
993         0           0         329          0
994         0         365           0          0
         State        AQI
1       Alaska  21.125000
10      Hawaii  24.333333
25     Montana  26.125000
46  Washington  27.967742
44     Vermont  30.750000
             State        AQI
4       California  47.769231
35        Oklahoma  45.285714
2          Arizona  44.923077
9          Georgia  43.758621
39  South Carolina  43.384615

             State        AQI
0          Alabama  41.133333
1           Alaska  21.125000
2          Arizona  44.923077
3         Arkansas  43.090909
4       California  47.769231
5         Colorado  41.066667
6      Connecticut  38.500000
7         Delaware  41.333333
8          Florida  40.973684
9          Georgia  43.758621
10          Hawaii  24.333333
11           Idaho  32.631579
12        Illinois  42.695652
13         Indiana  40.848485
14            Iowa  43.000000
15          Kansas  39.090909
16        Kentucky  41.200000
17       Louisiana  42.409091
18           Maine  34.181818
19        Maryland  40.562500
20   Massachusetts  36.923077
21        Michigan  37.892857
22       Minnesota  36.181818
23     Mississippi  43.000000
24        Missouri  41.142857
25         Montana  26.125000
26        Nebraska  32.363636
27          Nevada  40.555556
28   New Hampshire  37.428571
29      New Jersey  39.466667
30      New Mexico  37.187500
31        New York  35.884615
32  North Carolina  40.314286
33    North Dakota  37.888889
34            Ohio  42.567568
35        Oklahoma  45.285714
36          Oregon  32.285714
37    Pennsylvania  39.526316
38    Rhode Island  34.666667
39  South Carolina  43.384615
40    South Dakota  34.700000
41       Tennessee  40.217391
42           Texas  42.266667
43            Utah  41.529412
44         Vermont  30.750000
45        Virginia  35.300000
46      Washington  27.967742
47   West Virginia  39.384615
48       Wisconsin  37.586207
49         Wyoming  34.473684

### GDP(Enrichment Variable): ###

- In this data "2024" information is needed. The sum for each city GDP information of a certain state has been calculated.

In [7]:
#Reading the data file and seeing some general information.
GDP_Data = pd.read_csv('GDP.csv')
GDP_Data.info()
GDP_Data.head()
GDP_Data.tail()
#No missing values '2024'.

#GDP information summed up for each state.
#Column names standardized.
#Dropping unnecessary columns.
GDP_Data = (
    GDP_Data.groupby("GeoName", as_index=False)["2024"].sum().rename(columns={"GeoName":"State","2024": "GDP"}))

#Drop special states.
GDP_Data = GDP_Data[GDP_Data['State']!='Rocky Mountain']
GDP_Data = GDP_Data[GDP_Data['State']!='District of Columbia']
GDP_Data = GDP_Data[GDP_Data['State']!='Southeast']
GDP_Data = GDP_Data[GDP_Data['State']!='New England']
GDP_Data = GDP_Data[GDP_Data['State']!='Great Lakes']
GDP_Data = GDP_Data[GDP_Data['State']!='Far West']
GDP_Data = GDP_Data[GDP_Data['State']!='Mideast']
GDP_Data = GDP_Data[GDP_Data['State']!='Plains']
GDP_Data = GDP_Data[GDP_Data['State']!='Great Lakes']
GDP_Data = GDP_Data[GDP_Data['State']!='Far West']
GDP_Data = GDP_Data[GDP_Data['State']!='Southwest']
GDP_Data = GDP_Data[GDP_Data['State']!='United States']
#Reset indexes
GDP_Data = GDP_Data.reset_index(drop=True)
#The states are already alphabetically sorted.

#Top five states with the least GDP.
print(GDP_Data.sort_values(by=['GDP']).head(5))
#Top five states with the highest GDP.
print(GDP_Data.sort_values(by=['GDP'], ascending=False).head(5))

#Final data
GDP_Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 0 to 483
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 484 non-null    object
 1   GeoName                 480 non-null    object
 2   Region                  480 non-null    object
 3   TableName               480 non-null    object
 4   LineCode                480 non-null    float64
 5   IndustryClassification  480 non-null    object
 6   Description             480 non-null    object
 7   Unit                    480 non-null    object
 8   1997                    480 non-null    float64
 9   1998                    480 non-null    float64
 10  1999                    480 non-null    float64
 11  2000                    480 non-null    float64
 12  2001                    480 non-null    float64
 13  2002                    480 non-null    float64
 14  2003                    480 non-null    float64
 15  2004                    480 non-null    float64
 16  2005                    480 non-null    float64
 17  2006                    480 non-null    float64
 18  2007                    480 non-null    float64
 19  2008                    480 non-null    float64
 20  2009                    480 non-null    float64
 21  2010                    480 non-null    float64
 22  2011                    480 non-null    float64
 23  2012                    480 non-null    float64
 24  2013                    480 non-null    float64
 25  2014                    480 non-null    float64
 26  2015                    480 non-null    float64
 27  2016                    480 non-null    float64
 28  2017                    480 non-null    float64
 29  2018                    480 non-null    float64
 30  2019                    480 non-null    float64
 31  2020                    480 non-null    float64
 32  2021                    480 non-null    float64
 33  2022                    480 non-null    float64
 34  2023                    480 non-null    float64
 35  2024                    480 non-null    float64
dtypes: float64(29), object(7)
memory usage: 136.3+ KB
           State         GDP
44       Vermont  133514.690
49       Wyoming  146903.743
1         Alaska  203632.572
40  South Dakota  215861.624
25       Montana  221723.336
         State           GDP
4   California  1.165345e+07
42       Texas  7.962087e+06
31    New York  6.630014e+06
8      Florida  4.927066e+06
12    Illinois  3.282022e+06

             State           GDP
0          Alabama  9.248336e+05
1           Alaska  2.036326e+05
2          Arizona  1.620283e+06
3         Arkansas  5.375612e+05
4       California  1.165345e+07
5         Colorado  1.597894e+06
6      Connecticut  1.024419e+06
7         Delaware  3.127736e+05
8          Florida  4.927066e+06
9          Georgia  2.509625e+06
10          Hawaii  3.381509e+05
11           Idaho  3.646736e+05
12        Illinois  3.282022e+06
13         Indiana  1.479629e+06
14            Iowa  7.535730e+05
15          Kansas  6.561669e+05
16        Kentucky  8.408806e+05
17       Louisiana  9.379173e+05
18           Maine  2.839085e+05
19        Maryland  1.557642e+06
20   Massachusetts  2.223127e+06
21        Michigan  2.009922e+06
22       Minnesota  1.445106e+06
23     Mississippi  4.517506e+05
24        Missouri  1.274395e+06
25         Montana  2.217233e+05
26        Nebraska  5.368104e+05
27          Nevada  7.676035e+05
28   New Hampshire  3.414361e+05
29      New Jersey  2.439202e+06
30      New Mexico  4.261866e+05
31        New York  6.630014e+06
32  North Carolina  2.395388e+06
33    North Dakota  2.288289e+05
34            Ohio  2.625574e+06
35        Oklahoma  7.531153e+05
36          Oregon  9.404978e+05
37    Pennsylvania  2.881802e+06
38    Rhode Island  2.305125e+05
39  South Carolina  1.017992e+06
40    South Dakota  2.158616e+05
41       Tennessee  1.598807e+06
42           Texas  7.962087e+06
43            Utah  8.493728e+05
44         Vermont  1.335147e+05
45        Virginia  2.182695e+06
46      Washington  2.476140e+06
47   West Virginia  3.033276e+05
48       Wisconsin  1.288604e+06
49         Wyoming  1.469037e+05

### Household Income(Enrichment Variable): ###

- In this data "S1901_C01_012E" column stores the information for estimated median household income which will be used in the analysis.

In [8]:
#Reading the data file and seeing some general information.
HI_Data = pd.read_csv('Median Income.csv')
print(HI_Data.info())
print(HI_Data.head())
print(HI_Data.tail())
#No missing necessary values.


#Extracting necessary columns and renaming them.
HI_Data = HI_Data[['S1901_C01_012E','NAME']]
HI_Data = HI_Data.rename(columns = {'S1901_C01_012E':'HI','NAME':'State'})
#Change the order of columns.
HI_Data = HI_Data.iloc[:, [1,0]]
#Delete first unnecessary row.
HI_Data = HI_Data[HI_Data['State']!='Geographic Area Name']
#Drop special states.
HI_Data = HI_Data[HI_Data['State']!='Puerto Rico']
HI_Data = HI_Data[HI_Data['State']!='District of Columbia']
#Reset indexes.
HI_Data = HI_Data.reset_index(drop=True)
#States are alphabetically sorted.

#Data Cleaning in order to have the EA_Info correctly and in numeric format.
HI_Data['HI'] = HI_Data['HI'].astype(str) \
    .str.replace('%','', regex=False) \
    .str.replace(',','', regex=False) \
    .str.strip()
HI_Data['HI'] = pd.to_numeric(HI_Data['HI'], errors='coerce')

#Top five states with the least GDP.
print(HI_Data.sort_values(by=['HI']).head(5))
#Top five states with the highest GDP.
print(HI_Data.sort_values(by=['HI'], ascending=False).head(5))

#Final data
HI_Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Columns: 131 entries, GEO_ID to Unnamed: 130
dtypes: float64(1), object(130)
memory usage: 54.4+ KB
None
        GEO_ID                  NAME               S1901_C01_001E  \
0    Geography  Geographic Area Name  Estimate!!Households!!Total
1  0400000US01               Alabama                      2059528
2  0400000US02                Alaska                       274045
3  0400000US04               Arizona                      2982475
4  0400000US05              Arkansas                      1246754

                       S1901_C01_001M  \
0  Margin of Error!!Households!!Total
1                               11700
2                                3774
3                               11520
4                                7595

                                   S1901_C01_002E  \
0  Estimate!!Households!!Total!!Less than $10,000
1                                             6.4
2                                             3.7
3                                             4.9
4                                             6.0

                                      S1901_C01_002M  \
0  Margin of Error!!Households!!Total!!Less than ...
1                                                0.3
2                                                0.6
3                                                0.3
4                                                0.4

                                    S1901_C01_003E  \
0  Estimate!!Households!!Total!!$10,000 to $14,999
1                                              4.7
2                                              2.0
3                                              2.5
4                                              4.6

                                      S1901_C01_003M  \
0  Margin of Error!!Households!!Total!!$10,000 to...
1                                                0.3
2                                                0.4
3                                                0.2
4                                                0.3

                                    S1901_C01_004E  \
0  Estimate!!Households!!Total!!$15,000 to $24,999
1                                              7.8
2                                              5.2
3                                              5.6
4                                              8.2

                                      S1901_C01_004M  ...  \
0  Margin of Error!!Households!!Total!!$15,000 to...  ...
1                                                0.3  ...
2                                                0.8  ...
3                                                0.3  ...
4                                                0.5  ...

                                      S1901_C04_012M  \
0  Margin of Error!!Nonfamily households!!Median ...
1                                               1176
2                                               4111
3                                                738
4                                                927

                                      S1901_C04_013E  \
0  Estimate!!Nonfamily households!!Mean income (d...
1                                              52804
2                                              77659
3                                              71378
4                                              50217

                                      S1901_C04_013M  \
0  Margin of Error!!Nonfamily households!!Mean in...
1                                               1542
2                                               5202
3                                               1458
4                                               1790

                                      S1901_C04_014E  \
0  Estimate!!Nonfamily households!!PERCENT ALLOCA...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1901_C04_014M  \
0  Margin of Error!!Nonfamily households!!PERCENT...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1901_C04_015E  \
0  Estimate!!Nonfamily households!!PERCENT ALLOCA...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1901_C04_015M  \
0  Margin of Error!!Nonfamily households!!PERCENT...
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)

                                      S1901_C04_016E  \
0  Estimate!!Nonfamily households!!PERCENT ALLOCA...
1                                               33.2
2                                               30.9
3                                               31.9
4                                               31.0

                                      S1901_C04_016M Unnamed: 130
0  Margin of Error!!Nonfamily households!!PERCENT...          NaN
1                                                (X)          NaN
2                                                (X)          NaN
3                                                (X)          NaN
4                                                (X)          NaN

[5 rows x 131 columns]
         GEO_ID           NAME S1901_C01_001E S1901_C01_001M S1901_C01_002E  \
48  0400000US53     Washington        3168080           9393            4.4
49  0400000US54  West Virginia         740840           7351            6.5
50  0400000US55      Wisconsin        2535198           8638            4.3
51  0400000US56        Wyoming         256289           2645            5.1
52  0400000US72    Puerto Rico        1242609          10856           18.3

   S1901_C01_002M S1901_C01_003E S1901_C01_003M S1901_C01_004E S1901_C01_004M  \
48            0.2            2.4            0.1            4.4            0.2
49            0.5            5.0            0.4            9.4            0.5
50            0.2            3.0            0.2            6.0            0.2
51            0.8            2.2            0.5            6.5            0.9
52            0.6           11.0            0.5           17.9            0.6

    ... S1901_C04_012M S1901_C04_013E S1901_C04_013M S1901_C04_014E  \
48  ...            967          89336           1660            (X)
49  ...           1399          49005           1763            (X)
50  ...            927          63272           1019            (X)
51  ...           3131          62740           5601            (X)
52  ...            546          26592           1033            (X)

   S1901_C04_014M S1901_C04_015E S1901_C04_015M S1901_C04_016E S1901_C04_016M  \
48            (X)            (X)            (X)           27.1            (X)
49            (X)            (X)            (X)           32.0            (X)
50            (X)            (X)            (X)           29.2            (X)
51            (X)            (X)            (X)           29.8            (X)
52            (X)            (X)            (X)           27.5            (X)

   Unnamed: 130
48          NaN
49          NaN
50          NaN
51          NaN
52          NaN

[5 rows x 131 columns]
            State     HI
23    Mississippi  59127
47  West Virginia  60798
17      Louisiana  60986
3        Arkansas  62106
16       Kentucky  64526
            State      HI
20  Massachusetts  104828
29     New Jersey  104294
19       Maryland  102905
10         Hawaii  100745
4      California  100149

             State      HI
0          Alabama   66659
1           Alaska   95665
2          Arizona   81486
3         Arkansas   62106
4       California  100149
5         Colorado   97113
6      Connecticut   96049
7         Delaware   87534
8          Florida   77735
9          Georgia   79991
10          Hawaii  100745
11           Idaho   81166
12        Illinois   83211
13         Indiana   71959
14            Iowa   75501
15          Kansas   75514
16        Kentucky   64526
17       Louisiana   60986
18           Maine   76442
19        Maryland  102905
20   Massachusetts  104828
21        Michigan   72389
22       Minnesota   87117
23     Mississippi   59127
24        Missouri   71589
25         Montana   75340
26        Nebraska   76376
27          Nevada   81134
28   New Hampshire   99782
29      New Jersey  104294
30      New Mexico   67816
31        New York   85820
32  North Carolina   73958
33    North Dakota   77871
34            Ohio   72212
35        Oklahoma   66148
36          Oregon   85220
37    Pennsylvania   77545
38    Rhode Island   83504
39  South Carolina   72350
40    South Dakota   76881
41       Tennessee   71997
42           Texas   79721
43            Utah   96658
44         Vermont   82730
45        Virginia   92090
46      Washington   99389
47   West Virginia   60798
48       Wisconsin   77488
49         Wyoming   75532

## Final DataFrame ##

- All processed dataFrames have been merged into one single dataFrame, containing all the necessary information for the analysis.

In [12]:
#Merging operation with respect to state.
from functools import reduce
dfList = [EV_Data,HI_Data,GDP_Data,EA_Data,CS_Count,Pop_Density,AQI_Data]
commonCol = 'State'
finalDF= reduce(lambda left, right: pd.merge(left, right, on=commonCol, how='outer'), dfList)

finalDF

,State,Registration Count,HI,GDP,EA Info,CS Count,Density,AQI
0,Alabama,13047,66659,9.248336e+05,485435,593,102,41.133333
1,Alaska,2697,95665,2.036326e+05,68011,74,1,21.125000
2,Arizona,89798,81486,1.620283e+06,726880,1527,66,44.923077
3,Arkansas,7108,62106,5.375612e+05,291543,391,59,43.090909
4,California,1256646,100149,1.165345e+07,3644130,19389,250,47.769231
5,Colorado,90083,97113,1.597894e+06,545685,2619,57,41.066667
6,Connecticut,31557,96049,1.024419e+06,341838,1419,749,38.500000
7,Delaware,8435,87534,3.127736e+05,91460,273,536,41.333333
8,Florida,254878,77735,4.927066e+06,1906324,4199,428,40.973684
9,Georgia,92368,79991,2.509625e+06,1060982,2417,194,43.758621
10,Hawaii,25565,100745,3.381509e+05,115613,424,223,24.333333
11,Idaho,8501,81166,3.646736e+05,198965,260,24,32.631579
12,Illinois,99573,83211,3.282022e+06,1168050,1648,225,42.695652
13,Indiana,26101,71959,1.479629e+06,659956,733,192,40.848485
14,Iowa,9031,75501,7.535730e+05,321744,482,58,43.000000
15,Kansas,11271,75514,6.561669e+05,297448,631,36,39.090909
16,Kentucky,11617,64526,8.408806e+05,421989,378,115,41.200000
17,Louisiana,8150,60986,9.379173e+05,418749,348,106,42.409091
18,Maine,7377,76442,2.839085e+05,110476,557,45,34.181818
19,Maryland,72139,102905,1.557642e+06,530791,1981,638,40.562500
20,Massachusetts,73768,104828,2.223127e+06,707064,3842,900,36.923077
21,Michigan,50284,72389,2.009922e+06,934316,1787,178,37.892857
22,Minnesota,37050,87117,1.445106e+06,519877,997,72,36.181818
23,Mississippi,3590,59127,4.517506e+05,287446,215,63,43.000000
24,Missouri,26861,71589,1.274395e+06,575388,1456,90,41.142857
25,Montana,4608,75340,2.217233e+05,103469,170,8,26.125000
26,Nebraska,6920,76376,5.368104e+05,199010,300,26,32.363636
27,Nevada,47361,81134,7.676035e+05,262085,719,29,40.555556
28,New Hampshire,9861,99782,3.414361e+05,122828,322,157,37.428571
29,New Jersey,134753,104294,2.439202e+06,800206,1721,1267,39.466667
30,New Mexico,10276,67816,4.261866e+05,200903,372,17,37.187500
31,New York,131250,85820,6.630014e+06,1776645,5242,413,35.884615
32,North Carolina,70164,73958,2.395388e+06,1049988,1976,226,40.314286
33,North Dakota,959,77871,2.288289e+05,87325,106,11,37.888889
34,Ohio,50393,72212,2.625574e+06,1061428,1937,289,42.567568
35,Oklahoma,22843,66148,7.531153e+05,404802,423,60,45.285714
36,Oregon,64361,85220,9.404978e+05,362169,1644,44,32.285714
37,Pennsylvania,70154,77545,2.881802e+06,1188407,2161,289,39.526316
38,Rhode Island,6396,83504,2.305125e+05,111702,397,1062,34.666667
39,South Carolina,20873,72350,1.017992e+06,503116,722,182,43.384615
40,South Dakota,1675,76881,2.158616e+05,83838,123,12,34.700000
41,Tennessee,33221,71997,1.598807e+06,654793,1084,175,40.217391
42,Texas,230125,79721,7.962087e+06,3056382,4257,119,42.266667
43,Utah,39998,96658,8.493728e+05,417656,1040,42,41.529412
44,Vermont,7816,82730,1.335147e+05,62118,487,70,30.750000
45,Virginia,84936,92090,2.182695e+06,824337,2016,222,35.300000
46,Washington,152101,99389,2.476140e+06,674671,2838,118,27.967742
47,West Virginia,2758,60798,3.033276e+05,153712,184,73,39.384615
48,Wisconsin,24943,77488,1.288604e+06,555061,791,110,37.586207
49,Wyoming,1139,75532,1.469037e+05,53288,122,6,34.473684